@font-face{
    font-family: 'Karla';
    src: url('../app/fonts/Karla-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Karla';
    src: url('../app/fonts/Karla-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Karla';
    src: url('../app/fonts/Karla-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}